:root {
  --font-body: Arial;
  --font-headline: Arial;
  --primary-color: #818d92;
  --secondary-color: #586a6a;
  --tertiary-color: #b9a394;
  --quadrary-color: #d4c5c7;
  --quintary-color: #dad4ef;

  --font-base: 18px;
  --small-font: 1em;

  --large-font: 1.25em;
}

main {
  background-color: var(--secondary-color);
  max-width: 960px;
  margin: auto;
  padding: 2em;
}
/* header formatting*/
.header {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: auto;
  padding: 2em;
  background-color: var(--primary-color);
}

header {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.navigation{
  display: inline-block;
  position: relative;
}
.navigationMenu {
  display: none;
  position: absolute;
  background-color: var(--quadrary-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-width: 100px;
  z-index: 1;
  padding: 0.5em;
  text-decoration: none;
  font-size: var(--large-font);
  line-height: 2em;
  color: black;
}
.navigationMenu a {
  text-decoration: none;
  color: black;
  text-align: left;
}
.navigationMenu a:hover {
  background-color: var(--tertiary-color);
}
.navigation:hover .navigationMenu {
  display: block;
}
a.navigation :hover {
  background-color: var(--tertiary-color);
}

/*main body formatting*/
form#searchBar {
  max-width: 600px;
  margin: auto;
}
input#filterInput {
  height: 60px;
  width: 100%;
  font-size: var(--large-font);
  padding-left: 0.5em;
}

/* form formatting*/
form fieldset {
  margin: auto;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 700px;
}
form legend {
  color: #000;
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: var(--large-font);
}
form label {
  font-size: var(--large-font);
}

.loginBtn {
  justify-content: center;
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  margin: auto auto 1em auto;
  font-weight: bold;
  width: 96%;
  max-width: 20rem;
  font-size: var(--large-font);
  cursor: pointer;
}

form input {
  height: 40px;
  border: solid 1px black;
  margin: 2em 0;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-radius: 8px;
  background: #fff;
}


image{
  width: 50px;
  height: 50px;
}
img{
  width: 200px;
  height: 300px;
}
ul{
  list-style-type: none;
}

.movie-list{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.movie-grid{
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between;
  gap: 20px;
  padding: 3%;
  margin: auto;
}
.movieGenres{
  max-width: 1080px;
  margin: auto;
}
li h3{
  max-width: 175px;
  text-align: center;
  margin: auto;
}