@font-face {
  font-family: "Ubuntu";
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
  font-family: "Abril Fatface";
  src: url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
}

:root {
  --font-body: "Ubuntu", "Times New Roman";
  --font-headline: "Abril Fatface", "Arial";
  --font-color: #ebebeb;
  --primary-color: #741a20;
  --tertiary-color: #09090b;
  --quadrary-color: #eca72c;
  --darker-quad: #a87010;

  --font-base: 18px;
  --small-font: 1em;
  --med-font: 1.4em;
  --large-font: 1.5em;
  --midlarge-font: 2em;
  --xl-font: 3em;
}

body {
  background-color: var(--tertiary-color);
  margin: 0;
}
main {
  max-width: 1080px;
  width: 100%;
  margin: auto;
}
/* header formatting*/

.header {
  display: flex;
  margin-bottom: 1em;
  background-color: var(--primary-color);
  color: var(--quadrary-color);
}

.navigation {
  display: flex;
  flex-basis: 100%;
  max-width: 1080px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.navigation a {
  color: var(--quadrary--color);
  text-decoration: none;
  font-size: var(--midlarge-font);
}
footer {
  color: var(--quadrary-color);
}
.alert {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  border-radius: 15px;
  font-size: var(--large-font);
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: var(--quadrary-color);
  border: 3px var(--tertiary-color);
}
.alert span {
  position: relative;
  align-content: flex-start;
  padding-left: 1em;
}
/*main body formatting*/

h1 {
  font-size: var(--xl-font);
  margin: 0;
}
h2 {
  font-size: var(--large-font);
  margin: 0;
  font-weight: 300;
}
h3 {
  font-size: var(--med-font);
  font-weight: 300;
}
h4 {
  font-size: var(--med-font);
}
/* form formatting*/
.searchBar {
  background-color: var(--primary-color);
  max-width: 1080px;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: 0 0 2px 1.5px var(--primary-color);
  border: solid 3px var(--tertiary-color);
}
.searchBar h1 {
  padding: 0;
}
form#searchBar {
  display: flex;
  align-items: flex-end;
  max-width: 900px;
  margin: 1em auto 1em auto;
}
input#MovieInput {
  height: 50px;
  width: 85%;
  font-size: var(--large-font);
  padding-left: 0.5em;
  border: solid 1px black;
  margin-right: 2em;
  font-weight: bold;
  border-radius: 15px;
  background: #fff;
}

#searchMovie {
  height: 50px;
  font-size: var(--med-font);
  font-weight: bold;
  width: 250px;
  margin: auto;
  border-radius: 15px;
  background-color: var(--quadrary-color);
}
form#searchBarSmall {
  display: flex;
  padding: 1em;
  margin: auto;
  width: 100%;
  max-width: 1080px;
}
/* index page*/
.index {
  display: flex;
  flex-wrap: wrap;

  gap: -10px;
}

.searchBar h1 {
  color: var(--quadrary-color);
}
.searchBar p {
  font-size: var(--large-font);
  color: var(--font-color);
}

.trending img {
  width: 250px;
  border-radius: 15px;
  padding: 10px;
}
.recommended {
  text-align: center;
  color: var(--quadrary-color);
  margin: 0.2em;
}
.trending {
  white-space: nowrap;
  padding-bottom: 2em;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: var(--quadrary-color);
  max-height: 400px;
  height: 100%;
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: dark;
}
::-webkit-scrollbar {
  background: var(--quadrary-color);
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: var(--darker-quad);
}

/*search page*/
.search {
  background-color: var(--primary-color);
  text-align: center;
  box-shadow: 0 0 2px 1.5px var(--primary-color);
}

.search-movie-grid li img {
  width: 300px;
  border-radius: 15px;
}
.search-movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: baseline;
  padding-left: 0;
  padding-top: 2em;
}
.search-movie-grid a {
  color: var(--font-color);
}

.searchResults {
  margin-top: 3em;
}

/* browse results*/
.movie-list li img {
  width: 150px;
  height: 150px;
  margin-bottom: -25px;
}
.movie-list li {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 0.5em 0;
}
.movie-list li:hover {
  border: solid 3px var(--quadrary-color);
}
.movie-grid li img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0 0 3px 3px var(--primary-color);
}
.movie-grid img:hover {
  border: solid 3px var(--quadrary-color);
}
ul {
  list-style-type: none;
}

.movie-list {
  display: flex;
  padding: 0 35px;
  gap: 10px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
}
.movie-list a {
  color: var(--font-color);
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 3%;
  margin: auto;
}
.movieGenres {
  max-width: 1080px;
  margin: auto;
  padding: 30px 0 60px 0;
  text-align: center;

  color: var(--quadrary-color);
}
.movieGenres a {
  color: var(--font-color);
  text-decoration: none;
}
.genrePage {
  color: var(--font-color);
}

/* movie detail cards*/
li h3 {
  max-width: 175px;
  text-align: center;
  margin: auto;
}
.detailCard {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  background-color: var(--primary-color);
  margin: auto;
  justify-items: center;
  text-align: left;
  color: var(--font-color);
  border-radius: 15px;
}
.detailPoster {
  width: 400px;
  max-height: 600px;
  border-radius: 15px;
  margin: 1em;
}

.info {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin-top: 1em;
  margin-left: 1em;
}
.info p {
  font-size: 14pt;
}

.credits {
  display: flex;
  flex-wrap: wrap;
  line-height: 23px;
  width: 1080px;
  color: var(--font-color);
  font-size: 13pt;
}
.wishlistBtn {
  height: 60px;
  font-size: var(--med-font);
  width: 250px;
  margin-top: 3em;
  border-radius: 15px;
  background-color: var(--quadrary-color);
}

/*person details*/
.personCard {
  display: flex;
  max-width: 1080px;
  background-color: var(--primary-color);
  border-radius: 15px;
  color: var(--font-color);
  text-align: left;
  margin: auto;
}
.personCard img {
  width: 400px;
  max-height: 600px;
  border-radius: 15px;
  margin: 1em;
}
.personCard h4 {
  margin: 0.5em;
}
.personCard h1 {
  margin-top: 0.65em;
}
.personCard p {
  font-size: 13pt;
}

/* watch list*/
.watchList {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  background-color: var(--tertiary-color);
  margin: auto;
  color: var(--quintary-color);
  gap: 20px;
}
.card {
  display: flex;
  margin: 1em;
  padding: 1em;
  background-color: var(--primary-color);
  width: 100%;
  border-radius: 15px;
}
.watchList h1 {
  color: var(--quadrary-color);
  text-align: center;
  padding: 0.5em;
}
.watchList img {
  width: 125px;
  border-radius: 15px;
  grid-row-start: 1 span 2;
}
.watchList a {
  text-decoration: none;
  color: var(--font-color);
}
section {
  display: flex;
  flex-direction: column;
  gap: 5%;
  padding-left: 2em;
  color: var(--font-color);
}
section h1 {
  font-weight: 300;
}
section p {
  padding: 0;
  margin: 0;
  font-size: var(--med-font);
}
.listBtn {
  width: 250px;
  height: 35px;
  border-radius: 15px;
  background-color: var(--quadrary-color);
  font-size: var(--small-font);
  font-weight: bold;
}
@media only screen and (max-width: 375px) {
  body {
    width: 375px;
  }
  main {
    width: 375px;
  }
  .header {
    max-width: 375px;
    width: 100%;
    justify-content: center;
  }
  .navigation {
    max-width: 375px;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    justify-content: center;
    margin: auto;
  }
  .navigation #browse {
    padding-right: 1em;
  }
  form#searchBar {
    flex-direction: column;
  }
  input#MovieInput {
    font-size: var(--small-font);
    margin: auto auto 0.5em auto;
  }
  form#searchBarSmall {
    flex-direction: column;
    padding-left: 0;
  }
  .movie-list li img {
    width: 110px;
    height: 110px;
    margin-bottom: -20px;
  }
  .movie-list h2 {
    font-size: 1.2em;
  }
  .watchList img {
    width: 75px;
  }
  .watchList {
    margin-left: 0.8em;
  }
  .watchList .card {
    max-width: 310px;
    width: 100%;
    margin: 0;
  }
  .watchList h1 {
    font-size: var(--large-font);
    margin: 0;
    text-align: left;
    padding: 0;
  }
  section {
    padding-left: 0.5em;
  }

  section p {
    font-size: var(--small-font);
  }
  section .listBtn {
    font-size: var(--small-font);
    max-width: max-content;
    height: 35px;
  }
  .movieGenres {
    padding-top: 0.25em;
  }

  h1.genrePage {
    font-size: var(--xl-font);
  }
  .movie-grid {
    justify-content: center;
  }
  .detailCard {
    max-width: 360px;
    width: 100%;
    margin: auto;
  }
  .detailCard img {
    width: 330px;
  }
  .info h1 {
    font-size: var(--large-font);
  }
  .info h4 {
    margin: 0;
  }
  .info p {
    margin: 0;
  }
  .wishlistBtn {
    margin: auto;
  }
  .personCard {
    flex-direction: column;
  }
  .personCard img {
    width: 325px;
    height: 100%;
  }
  .personCard h1 {
    margin-top: auto;
  }
  .personInfo {
    padding: 0.2em;
  }
}
@media only screen and (max-width: 460px) {
  .navigation {
    max-width: 460px;
    justify-content: center;
    text-align: center;
  }
  .navigation h2 {
    font-size: 1.7em;
  }
  #browse {
    padding-right: 1em;
  }
  form#searchBar {
    flex-direction: column;
  }
  input#MovieInput {
    font-size: var(--med-font);
    margin: auto auto 0.5em auto;
  }
  form#searchBarSmall {
    flex-direction: column;
    padding-left: 0;
  }
  .movie-grid {
    justify-content: space-evenly;
  }
  .movie-grid li img {
    width: 175px;
    height: 250px;
  }

  .info h4 {
    margin: 0.25em;
    font-weight: 300;
  }

  .info p {
    margin: 0.2em;
  }

  .wishlistBtn {
    margin: 0.2em auto;
  }
  .personCard {
    flex-direction: column;
  }
  .personCard h1 {
    margin-top: auto;
  }
  .personInfo {
    padding: 0.4em;
  }
  .card {
    max-width: 400px;
    width: 100%;
    margin: 0.5em;
  }
  section {
    padding-left: 1em;
  }
  section h1 {
    font-size: 1.9em;
  }
  section p {
    font-size: var(--small-font);
  }
  section .listBtn {
    max-width: max-content;
  }
}
