
:root {
  --font-body: "Legend";
  --font-headline: "Oxygen";
  --font-color: #ebebeb;
  --primary-color: #4f3073;
  --secondary-color: #96222a;
  --tertiary-color: #09090b;
  --quadrary-color: #eca72c;

  --font-base: 18px;
  --small-font: 1em;
  --med-font: 1.4em;
  --large-font: 1.5em;
  --xl-font: 3em;
  font-family: "Legend", sans-serif;
  font-family: "Oxygen", sans-serif;
}

body {
  background-color: var(--tertiary-color);
  
}
main{
  background-color: var(--primary-color);
  max-width: 1080px;
  width: 100%;
  margin: auto;
}
/* header formatting*/

.header {
  display: flex;
  margin-bottom: 2em;
  padding: 2em 2em ;
  background-color: var(--primary-color);
  color: var(--quadrary-color);
}

.navigation {
  display: flex;
 
  flex-basis: 50%;
  max-width: 1080px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  
  align-items: flex-end;
  
}

.navigation a{
  color: var(--font-color);
  text-decoration: none;
  font-size: var(--med-font);
 
}

.alert{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  border-radius: 15px;
  font-size: var(--large-font);
 display: flex;
  padding: 1.5em;
 background-color: var(--quadrary-color);
 border: 1px var(--secondary-color);

}
.alert span{
  position: relative;
  align-content: flex-start;
  padding-left: 2em;
}
/*main body formatting*/

h1 {
  font-size: var(--xl-font);
  margin: 0;
  
}
h2 {
  font-size: var(--large-font);
  margin: 0;
}
h3 {
  font-size: var(--med-font);
}
h4 {
  font-size: var(--med-font);
}
/* form formatting*/
form fieldset {
  margin: auto;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 500px;
}
form legend {
  color: #000;
  margin: 0 1rem;
  padding: 0 0.5rem;
  font-size: var(--large-font);
}
form label {
  font-size: var(--large-font);
}
.searchBar {
  background-color: var(--primary-color);
  max-width: 1080px;
  width: 100%;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
  box-shadow: 0 0 2px 1.5px var(--primary-color);
  border: solid 3px var(--tertiary-color);
}
form#searchBar {
  max-width: 900px;
  margin: auto;
}
input#MovieInput{
  height: 60px;
  width: 85%;
  font-size: var(--large-font);
  padding-left: 0.5em;
}
form input {
  border: solid 1px black;
  margin: 1em 0;
  padding: 0 15px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-radius: 8px;
  background: #fff;
}

/* index page*/
.index {
  display: flex;
  flex-wrap: wrap;

  gap: -10px;
}

.searchBtn {
  height: 150px;
  font-size: var(--xl-font);
  width: 400px;
  margin: 1.5em 1em;
  border-radius: 15px;
  background-color: var(--quadrary-color);
}

/*search page*/
.search {
  background-color: var(--primary-color);
  text-align: center;
  box-shadow: 0 0 2px 1.5px var(--primary-color);
}

.search-movie-grid li img {
  width: 300px;
}
.search-movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding-left: 0;
}
.search-movie-grid a {
  color: var(--font-color);
}

#searchMovie{
  height: 60px;
  font-size: var(--med-font);
  width: 250px;
  margin: 0.5em 1.5em;
  border-radius: 15px;
  background-color: var(--quadrary-color);
}
.searchResults {
  margin-top: 3em;
}

/* browse results*/
.movie-list li img {
  width: 150px;
  height: 150px;

}

.movie-grid li img {
  width: 200px;
  height: 300px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
}

.movie-list {
  display: flex;
  padding: 0 35px;
  gap: 10px;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  text-align: center;
  margin: auto ;
 
}
.movie-list a {
  color: var(--tertiary-color);
  margin: 0;
}
.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 3%;
  margin: auto;
}
.movieGenres {
  background-color: var(--primary-color);
  max-width: 1080px;
  margin: auto;
  padding: 30px 0 70px 0;
  text-align: center;
  box-shadow: 0 0 1.5px 1.5px var(--primary-color);
  border: solid 3px var(--tertiary-color);
}
.movieGenres a {
  color: var(--quintary-color);
}

/* movie detail cards*/
li h3 {
  max-width: 175px;
  text-align: center;
  margin: auto;
}
.detailCard {
  display: grid;
  max-width: 1080px;
  background-color: var(--primary-color);
  margin: auto;
  color: var(--quintary-color);
  justify-items: center;
  text-align: center;
  box-shadow: 0 0 1.5px 1.5px var(--primary-color);
}
.detailPoster {
  width: 400px;
  border-radius: 15px;
}
.credits {
  display: flex;
  flex-wrap: wrap;
  line-height: 23px;
}
.wishlistBtn {
  height: 60px;
  font-size: var(--med-font);
  width: 250px;
  margin: 0.5em 1.5em;
  border-radius: 15px;
  background-color: var(--quadrary-color);
}

/*person details*/
.personCard{
  display: grid;
    max-width: 1080px;
    background-color: var(--primary-color);
    margin: auto;
    color: var(--quintary-color);
    justify-items: center;
    text-align: center;
    box-shadow: 0 0 1.5px 1.5px var(--primary-color);
}
.personCard img{
  width: 400px;
}
.personCard h4{
  margin: .25em;
}

/* watch list*/
.watchList{
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
    background-color: var(--primary-color);
    margin: auto;
    color: var(--quintary-color);
      box-shadow: 0 0 1.5px 1.5px var(--primary-color);
      padding: 3em;
      gap: 20px;
}
.card{
  display: flex;
}
.watchList img{
  width: 200px;
  border-radius: 15px;
  grid-row-start: 1 span 2;
}
.watchList a{
 display: grid;
 grid-template-columns:auto 500px auto;
  text-decoration: none;
  color: var(--font-color);
 
}
.watchList button{
  padding: 1em;
  justify-self: end;
  align-self: end;
  width: auto;
  height: auto;
  border-radius: 15px;
  background-color: var(--quadrary-color);
  font-size: var(--med-font);
}
.watchList h1{
 justify-self: start;
 padding-left: 1em;
}